@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    
    <div class="stars"></div>
    
    <div class="twinkling"></div>
    
    <div class="clouds"></div>
    
</div>
<div class="raw">
    <div class="col col-md-8 col-md-push-2">
        <img src="../Content/images/title.png" class="img-responsive starwars">
        <audio autoplay>
            <source src="../Content/audio/starwars.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="col col-md-6 col-md-push-3">
        <img src="../Content/images/jeditournament.png" class="img-responsive jeditournament">
    </div>
</div>
