
@{
    ViewBag.Title = "GestionCaractéristiques";
}

<h2>GestionCaractéristiques</h2>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="row">
    <div class="col-md-12">
        <table class="table tableau">
            <thead>
                <tr>
                    <th>nom</th>
                    <th>valeur</th>
                    <th>définition</th>
                    <th>type</th>
                </tr>
            </thead>
            @foreach (var carac in ViewBag.Caractéristiques)
            {
                <tbody>
                    <tr>
                        <td>@carac.Nom</td>
                        <td>@carac.Valeur</td>
                        <td>@carac.Definition</td>
                        <td>@carac.Type</td>
                        <td><a href="./Editer/@carac.Id">Modifier</a></td>
                        <td><a href="./Supprimer/@carac.Id">Supprimer</a></td>
                    </tr>
                </tbody>
            }
            <tr>
                <td><a href="./Ajouter/">Ajouter</a></td>
            </tr>
        </table>
    </div>
</div>