
@{
    ViewBag.Title = "GestionStades";
}

<h2>GestionStades</h2>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="row">
    <div class="col-md-12">
        <table class="table tableau">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre de Place</th>
                </tr>
            </thead>
            @foreach (var stade in ViewBag.Stades)
            {
                <tbody>
                    <tr>
                        <td>@stade.Planete</td>
                        <td>@stade.NbPlace</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
