
@{
    ViewBag.Title = "GestionStades";
}

<h2>GestionStades</h2>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="row">
    <div class="col-md-12">
        <table class="table tableau">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre de Place</th>
                </tr>
            </thead>
            @foreach (var stade in ViewBag.Stades)
            {
                <tbody>
                    <tr>
                        <td>@stade.Nom</td>
                        <td>@stade.Planete</td>
                        <td>@stade.NbPlace</td>
                        <td><a href="./Details/@stade.Id">Détails</a></td>
                        <td><a href="./Editer/@stade.Id">Modifier</a></td>
                        <td><a href="./Supprimer/@stade.Id">Supprimer</a></td>
                    </tr>
                </tbody>
            }
            <tr>
                <td><a href="./Ajouter/">Ajouter</a></td>
            </tr>
        </table>
    </div>
</div>
