@{
    ViewBag.Title = "GestionJedis";

}

<h2>GestionJedi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Sith/Jedi</th>
        </tr>
    </thead>
    @foreach (var jedi in ViewBag.Jedis)
    {
        <tbody>
            <tr>
                <td>@jedi.Nom</td>
                @if (jedi.IsSith)
                {
                    <td>Sith</td>
                }
                else
                {
                    <td>Jedi</td>
                }
                <td><a href="./Details/@jedi.Id">Détails</a></td>
                <td><a href="./Modifier/@jedi.Id">Modifier</a></td>
                <td><a href="./Supprimer/@jedi.Id">Supprimer</a></td>
            </tr>
        </tbody>
    }
    <tr>
        <td><a href="./Ajouter/">Ajouter</a></td>
    </tr>
</table>