@model JediWebApplication.ServiceReference1.JediContract

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JediContract</h4>
    <hr />
        @if (ViewBag.Jedi.IsSith == true)
        {
            <input type="checkbox" checked disabled />
        }
        else {
            <input type="checkbox" disabled />
        }

        <input type="text" name="Nom" value="@ViewBag.Jedi.Nom" disabled />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
