
@{
    ViewBag.Title = "GestionTournois";
}

<h2>GestionTournois</h2>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="row">
    <div class="col-md-12">
        <table class="table tableau">
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>
            @foreach (var tournoi in ViewBag.Tournois)
            {
                <tbody>
                    <tr>
                        <td>@tournoi.Nom</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
